<h3>Home</h3>
<p><b>Dr Juan Ye (Erica)</b></p>
<p>Address: Room JC1.12</p>
<p>Jack Cole Building</p>
<p>University of St Andrews, UK</p>
<%# partial('_partial/sticky-post') %>
<%- partial('_partial/archive', {pagination: 2, index: true}) %>